body
 {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: #232f3e;
}

.logo img {
  height: 50px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

header nav a {
  font-size: 20px;    
  padding: 15px 15px; 
}

.search-bar input {
  padding: 2px;
  border: none;
}
 
 .search-bar button {
  padding: 2px 12px;
  border: none;
  background-color: #ececea;   
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.categories-section {
  max-width: 900px;
  margin: 40px auto;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.category-card {
  background-color: #fafafa;
  padding: 25px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.category-card img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.category-card p {
  margin: 0;
  font-weight: bold;
}

.category-card:hover {
  background-color: #f1f1f1;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 15px;
}
