body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #232f3e;
}

header nav {
  margin: 0 auto; 
}

.logo img {
  height: 50px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

header nav a {
  font-size: 20px;    
  padding: 15px 15px; 
}


.contact-section {
  max-width: 650px;
  margin: 60px auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
}

.contact-form {
  padding: 10px 20px;
}

.contact-form label {
  display: block;
  text-align: left;
  margin-bottom: 6px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 16px;
  margin-bottom: 18px;
  font-size: 16px;
}

.contact-form textarea {
  min-height: 120px;
}

.contact-form button {
  background-color: #ff9900;
  border: none;
  padding: 12px;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 15px;
}
